.gcharts-y-axis {
    &__domain {
        stroke: var(--g-color-line-generic-active);
    }

    &__label {
        fill: var(--g-color-text-secondary);
        stroke: none;
        dominant-baseline: text-after-edge;
    }

    &__tick {
        stroke: var(--gcharts-axis-tick-color);
    }

    &__mark {
        stroke: var(--gcharts-axis-tick-mark-color, var(--g-color-line-generic-active));

        &_grid {
            stroke: var(--gcharts-axis-tick-mark-color, var(--gcharts-axis-tick-color));
        }
    }

    &__title {
        fill: var(--g-color-text-secondary);
    }
}
