# IDE settings
.idea
.vscode

# Dependencies
node_modules

# Artifacts
dist
dist-docs
docs/diplodoc/pages/api
storybook-static
debug-storybook.log
.cache
.tmp
playwright-report
playwright-report-docker
playwright/.cache-docker
test-results
