.gcharts-line,
.gcharts-area,
.gcharts-radar,
.gcharts-bar-x,
.gcharts-bar-y,
.gcharts-heatmap,
.gcharts-funnel,
.gcharts-treemap,
.gcharts-pie,
.gcharts-scatter {
    &__label {
        user-select: none;
        pointer-events: none;
        dominant-baseline: hanging;
    }
}

.gcharts-scatter {
    &__point {
        stroke-width: 1px;
    }
}

.gcharts-pie {
    &__segment {
        stroke: var(--g-color-base-background);
    }
}

.gcharts-waterfall {
    &__connector {
        stroke: var(--g-color-line-generic-active);
    }
}
