.gcharts-x-axis {
    &__domain {
        stroke: var(--g-color-line-generic-active);
    }

    &__label {
        fill: var(--g-color-text-secondary);
        stroke: none;
    }

    &__tick {
        stroke: var(--g-color-line-generic);
    }

    &__title {
        dominant-baseline: text-before-edge;

        fill: var(--g-color-text-secondary);
    }
}
