.gcharts-tooltip {
    &[class] {
        --g-popup-border-width: 0;
        pointer-events: none;

        > div {
            animation-duration: unset;
            animation-timing-function: unset;
            animation-fill-mode: unset;
        }
    }

    &[class]#{&}_pinned {
        pointer-events: inherit;
    }

    &__popup-content {
        box-shadow: none;
    }

    &__content {
        padding: 8px 14px;

        text-wrap: nowrap;

        border-radius: 4px;
        background-color: var(--g-color-infographics-tooltip-bg);
        box-shadow: 0 2px 12px var(--g-color-sfx-shadow);
    }

    &__content-row {
        display: flex;
        align-items: center;
    }

    &__color {
        display: inline-block;

        width: 16px;
        height: 8px;
        margin-inline-end: 8px;

        border-radius: 2px;
        background-color: #dddddd;
    }
}
