.gcharts-tooltip {
    box-shadow: 0 2px 12px var(--g-color-sfx-shadow);

    &__content {
        padding: 8px 0;

        text-wrap: nowrap;

        border-radius: 4px;
        background-color: var(--g-color-infographics-tooltip-bg);
    }

    &__series-name {
        padding: 2px 14px 6px;

        font-size: 13px;
        font-weight: 600;
    }

    &__content-row {
        display: flex;
        align-items: center;

        padding: 2px 14px;

        font-size: 12px;

        &_active {
            font-weight: 600;

            background-color: var(--g-color-base-info-medium);
        }
    }

    &__color {
        display: inline-block;

        width: 16px;
        height: 8px;
        margin-inline-end: 8px;

        border-radius: 2px;
        background-color: #dddddd;
    }
}
