.gcharts-d3 {
    --gcharts-data-labels: var(--g-color-text-secondary);

    position: absolute;

    &__html-layer {
        display: contents;

        & > * {
            transform: inherit;
        }
    }
}
