.gcharts-chart {
    --gcharts-data-labels: var(--g-color-text-secondary);

    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;

    display: flex;

    &__html-layer {
        display: contents;
    }

    &__html-layer-item {
        transform: var(--g-html-layout-transform);
    }
}
