.gcharts-axis {
    & .domain {
        stroke: var(--g-color-line-generic-active);
    }

    & .tick text {
        color: var(--g-color-text-secondary);
        dominant-baseline: text-after-edge;
    }

    & .tick line,
    & .tick path {
        stroke: var(--g-color-line-generic);
    }

    &__title {
        dominant-baseline: text-after-edge;

        fill: var(--g-color-text-secondary);
    }

    &__title tspan {
        dominant-baseline: text-after-edge;
    }
}
